/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-gutenberg-forms-layout {
    padding: 0;
    margin: 0 auto;
}

.wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid {
    display: block !important;
}

.wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid > *::before {
    display: none;
}

.wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid .block-editor-block-list__layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    overflow: hidden; /* Hide the overflow */
    position: relative;
    grid-row-gap: 30px;
    grid-column-gap: 45px;
}

.wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid.small .block-editor-block-list__layout {
    grid-row-gap: 15px;
    grid-column-gap: 30px;
}

.wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid.large .block-editor-block-list__layout {
    grid-row-gap: 30px;
    grid-column-gap: 90px;
}

.wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid.grid1 .block-editor-block-list__layout {
    grid-template-columns: repeat(1, 1fr);
}

.wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid.grid2 .block-editor-block-list__layout {
    grid-template-columns: repeat(2, 1fr);
}

.wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid.grid3 .block-editor-block-list__layout {
    grid-template-columns: repeat(3, 1fr);
}

.wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid.grid4 .block-editor-block-list__layout {
    grid-template-columns: repeat(4, 1fr);
}

.wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid .block-editor-block-list__layout > * {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin: 0;
}

.wp-block-gutenberg-forms-layout
    .gutenberg-forms-layout-grid.enable-separator
    .block-editor-block-list__layout
    > *::before {
    content: "";
    position: absolute;
    top: 0;
    right: -22.5px; /* Half the gap */
    height: 100vh; /* Big height*/
    width: 1px;
    background: #fff;
}

.wp-block-gutenberg-forms-layout
    .gutenberg-forms-layout-grid.enable-separator.small
    .block-editor-block-list__layout
    > *::before {
    right: -15px; /* Half the gap */
}

.wp-block-gutenberg-forms-layout
    .gutenberg-forms-layout-grid.enable-separator.large
    .block-editor-block-list__layout
    > *::before {
    right: -45px; /* Half the gap */
}
