/**
 * The following styles get applied both on the front of your site and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-gutenberg-forms-layout {
    padding: 0;
    margin: 0 auto;
}

.wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    overflow: hidden; /* Hide the overflow */
    position: relative;
    grid-row-gap: 30px;
    grid-column-gap: 45px;
}

.wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid.small {
    grid-row-gap: 15px;
    grid-column-gap: 30px;
}

.wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid.large {
    grid-row-gap: 30px;
    grid-column-gap: 90px;
}

.wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid.grid1 {
    grid-template-columns: repeat(1, 1fr);
}

.wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid.grid2 {
    grid-template-columns: repeat(2, 1fr);
}

.wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid.grid3 {
    grid-template-columns: repeat(3, 1fr);
}

.wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid.grid4 {
    grid-template-columns: repeat(4, 1fr);
}

.wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid > * {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin: 0;
}

.wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid.enable-separator > *::before {
    content: "";
    position: absolute;
    top: 0;
    right: -22.5px; /* Half the gap */
    height: 100vh; /* Big height*/
    width: 1px;
    background: #fff;
}

.wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid.enable-separator.small > *::before {
    right: -15px; /* Half the gap */
}

.wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid.enable-separator.large > *::before {
    right: -45px; /* Half the gap */
}

.wp-block-gutenberg-forms-layout .order-1 {
    order: 1;
}

.wp-block-gutenberg-forms-layout .order-2 {
    order: 2;
}

.wp-block-gutenberg-forms-layout .order-3 {
    order: 3;
}

.wp-block-gutenberg-forms-layout .order-4 {
    order: 4;
}

.wp-block-gutenberg-forms-layout .order-5 {
    order: 5;
}

.wp-block-gutenberg-forms-layout .order-6 {
    order: 6;
}

.wp-block-gutenberg-forms-layout .order-7 {
    order: 7;
}

.wp-block-gutenberg-forms-layout .order-8 {
    order: 8;
}

.wp-block-gutenberg-forms-layout .order-9 {
    order: 9;
}

.wp-block-gutenberg-forms-layout .order-10 {
    order: 10;
}

.wp-block-gutenberg-forms-layout .order-11 {
    order: 11;
}

.wp-block-gutenberg-forms-layout .order-12 {
    order: 12;
}

.wp-block-gutenberg-forms-layout .order-13 {
    order: 13;
}

.wp-block-gutenberg-forms-layout .order-14 {
    order: 14;
}

.wp-block-gutenberg-forms-layout .order-15 {
    order: 15;
}

/****** Media queries ***********/
@media (min-width: 681px) {
    .wp-block-gutenberg-forms-layout .order-1,
    .wp-block-gutenberg-forms-layout .order-2,
    .wp-block-gutenberg-forms-layout .order-3,
    .wp-block-gutenberg-forms-layout .order-4,
    .wp-block-gutenberg-forms-layout .order-5,
    .wp-block-gutenberg-forms-layout .order-6,
    .wp-block-gutenberg-forms-layout .order-7,
    .wp-block-gutenberg-forms-layout .order-8,
    .wp-block-gutenberg-forms-layout .order-9,
    .wp-block-gutenberg-forms-layout .order-10,
    .wp-block-gutenberg-forms-layout .order-11,
    .wp-block-gutenberg-forms-layout .order-12,
    .wp-block-gutenberg-forms-layout .order-13,
    .wp-block-gutenberg-forms-layout .order-14,
    .wp-block-gutenberg-forms-layout .order-15,
    .wp-block-gutenberg-forms-input {
        order: 0 !important;
    }
}

/* Medium devices (tablets, less/equal than 992px) */
@media (max-width: 992px) {
    .wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid.grid2,
    .wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid.grid3,
    .wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid.grid4 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 680px) {
    .wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid.grid2,
    .wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid.grid3,
    .wp-block-gutenberg-forms-layout .gutenberg-forms-layout-grid.grid4 {
        grid-template-columns: repeat(1, 1fr);
    }
}
